 <div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="db">Credit</label>
        <select id="db" class="form-control" [(ngModel)]="je.db">
          <option *ngFor="let la of myconnection.accounts()" [value]="la.accountNumber">
            {{la.name}}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="cr">Credit</label>
        <select id="cr" class="form-control" [(ngModel)]="je.cr">
          <option *ngFor="let la of myconnection.accounts()" [value]="la.accountNumber">
            {{la.name}}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="cr">Amount</label>
        <input class="form-control" type="number" [(ngModel)]="je.amount"/>
      </div>

    </div>
    <div class="col-md-3">
      <button class="btn btn-default" (click)="submit()">
        <i class="fa fa-check-circle fa-2x"></i>
      </button>
      <button class="btn btn-default" (click)="refreshBalances()">
        <i class="fa fa-refresh fa-2x"></i>
      </button>
    </div>
    <div class="row">
      <div class="col-md-6">
        <table>
          <thead>
          <tr>
            <th>
              Account
            </th>
            <th>
              Balance
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let la of myconnection.accounts()">
            <td>
              {{la.name}}
            </td>
            <td>
              {{la.balance}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>



 </div>
